@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");



*{
    font-family: 'Raleway','calibri','Arial',sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none; 
    padding: 0.5vmin;
}



body{
display: flexbox;
}

#logo{
    width: 7vw;
    height: 7vh;

}
    

.linksnav{
    
}



.navbar{
    display: flex;
    justify-content: right; 
}


#linkheberg{

}

#linkactivi{
    margin-left: 5vw;
}

#searchform{
    display: flex;
}


.filtres{
    display: flex;
    gap: 0.5vmin;
}

.filtres h4{
    font-weight: bold;
}


#iconcircle{
    width: 6vmin;
    height: 6vmin;
    color:#0065fc ;
    margin-left: -1vw;
    background-color: #DEEBFF;
    border-radius: 10vmin;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#longbox{  
    display: flex;
    width: 20vw;
    height: 6vh;
    border-radius: 5vmin;
    border-color: #100f0f;
    color: black;
    font-weight: bold;
    border: 0.2vmax solid #F2F2F2;
    cursor: pointer;
    align-self: center;
    margin-right: 2vw;
    align-items: center;
    gap: 1vw;
}



.info{
    display: flex;
}

.fa-solid fa-location-dot{
    background-color:#F2F2F2 ;
    border-radius:15px 0 15px 0;
    text-align: center;
    width: 18px;
    height:13px;
}


#rechercher{
    width: 144.85px;
    height:15.21px ;

}


.searchbutton{
    display: flex;
    align-items: center;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}



.linksnav{
    display: flex;
}

.filtres{
    display: flex;
}

#economique{
    display: flex;
}


.recherche i {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    justify-content: center;
}



.hebergementcontainer{
    display: flex;  
}

.hebergementsamarseille h2{
   margin-left: 0vw;

}

.hebergementsamarseille{
    background-color: #F2F2F2;
    width: 65vw;
    margin-right: 2vw;
    height: 95vh;
    border-radius: 2vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmax;
  
    
}

.lineune{
    display: flex;
    justify-content: center;
    margin-bottom: 1vmax;
    gap: 1vmax;
    
}

.linedeux{
    display: flex;
    justify-content: center;
    gap: 1vmax;
}

.card{
    background-color:white;
    width: 15vw;
    height: 30vh;
    border-radius: 1vmax;

}

.card img{
    width: 14vw;
    height: 16vh;
    border-radius:15px 15px 0px 0px ;
    margin-top: 6px;
    
}


.hotel6card h2{
    position: relative;
    left: 18px;
    top: 30px;
}


.lespluspopulaires{
    background-color: #F2F2F2;
    width: 30vw;
    height: 95vh;
    border-radius: 2vmax;

}

.titleandstar{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#Lespluspopulaires{
    margin-left: -30px;
}

.etoile{
    align-self: center
    margin: right -20px;
}



.linetrois{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
    
}

.card2{
    width: 25vw;
    height: 20vh;
    background-color: white;
    border-radius:1vmax;
    display: flex;
    margin-bottom: 4vh;
}

.card2 img{
    width:100px ;
    height:95px;
    border-radius:15px 15px 0px 0px ;
}


.etalement{
    display: flex;
    gap: 1Vmax;
    margin-top: 2vh;
}

.activites{
    display: flex;
    width: 99Vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: space-between;
}

.activitesamarseille h2{
   
}

.hotel10{
    height: 70vh;
    width: 22vw;
    border-radius: 1vmax;
    background-color: blue;
   
}




.hotel11{
    height: 38vh;
    width: 22vw;
    border-radius: 1vmax;
    background-color: blue;
    
 }


.hotel12{
    height: 22vh;
    width:22vw;
    border-radius: 1vmax;
    background-color: blue;
    margin-top: 9vh;
   
}

.hotel13{
    height: 70vh;
    width: 22vw;
    border-radius: 1vmax;
    background-color: blue;

}

.hotel14{
    height: 30vh;
    width: 22vw;
    border-radius: 1vmax;
    background-color: blue;
  
}


.hotel15{
    height: 32vh;
    width: 22vw;
    border-radius: 1vmax;
    background-color: blue;
  margin-top: 7vh;
}



footer{
   
    background-color:#F2F2F2;
    display: flex;
    justify-content: flex-start;
    gap: 20vw;
    
}

