@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");



*{
    font-family: 'Raleway','calibri','Arial',sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}



body{
    background-color:white;
    display: flexbox;
    flex-direction: column;
    padding-left: 20px;
}

#logo{
    width: 85px;
    height: 40px;
    margin-left:20px;

}
    
.recherche h3{
    margin-top: 30px;
}

.linksnav{
    
}



.navbar{
    display: flex;
    justify-content: right;
    margin-top: 35px;   

}


#linkheberg{

}

#linkactivi{
    margin-left: 30px;
    margin-right: 7px;
}

#searchform{
    display: flex;
}


.recherche,.filtres{
    margin-left:20px ;
}

.fa-solid fa-location-dot{
    background-color:#F2F2F2 ;
    border-radius:15px 0 15px 0;
    text-align: center;
    width: 18px;
    height:13px;
}


#rechercher{
    width: 144.85px;
    height:15.21px ;

}


.searchbutton{
    display: flex;
    align-items: center;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}



.linksnav{
    display: flex;
}

.filtres{
    display: flex;
}

#economique{
    display: flex;
}


.recherche i {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    justify-content: center;
}

.lineune{
    display: flex;
    justify-content: center;
}

.linedeux{
    display: flex;
    justify-content: center;
}

.card{
    background-color:white;
    width:246px;
    height: 199px ;
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
}

.card img{
    width:241px ;
    height:119px;
    border-radius:15px 15px 0px 0px ;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.hebergementcontainer{
    display: flex;
    margin-top: 20px;
    background-color: white;
    margin-bottom: 40px;
    gap: 30px;
    
}


.hebergementsamarseille h3{
   
}

.hebergementsamarseille{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius:15px 15px 15px 15px ;
    margin-left:20px ;
    padding: 20px;
    padding-top: 40px;
    width: 950px;
    
}


.lespluspopulaires{
    background-color:#F2F2F2 ;
    border-radius:15px 15px 15px 15px ;
    display: flex;
    flex-direction: column ;
    margin-left: 20px;
    padding: 20px;
    height: 597.57px;
    width: 420px;
    padding-top: 40px;

}

.titleandstar{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.etoile{
    align-self: center
}



.linetrois{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
}

.card2{
    width: 250px;
    background-color: white;
    border-radius:15px 15px 15px 15px;
    margin-bottom:20px;
    display: flex;
    width: 350px;
    height: 150px;
}

.card2 img{
    width:100px ;
    height:95px;
    border-radius:15px 15px 0px 0px ;
}


.etalement{
    width: 1280px;
    display: flex;
    
}



.activites{
    display: flex;
    width: 1280px;
    margin: left 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.activitesamarseille h2{
    margin-top: 50px;
    margin-left: 30px;
}

.hotel10{
    height: 444.51px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}




.hotel11{
    height: 235.53px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin: 20px;
    margin-left: 10px;
 }


.hotel12{
    height: 165.10px;
    width:245px ;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.hotel13{
    height: 444.51px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-left: 10px;
    margin-top: 20px;
}

.hotel14{
    height: 195.12px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}


.hotel15{
    height: 208.98px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 44px;
    margin-left: 10px;
}



footer{
   
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-around;
    align-content: left;
}

footer a{

    color: black;
}





