@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");



*{
    font-family: 'Raleway','calibri','Arial',sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none; 
    padding: 0.5vmin;
}



body{
display: flexbox;
}

#logo{
    width: 85px;
    height: 40px;
    margin-left:20px;

}
    
.recherche h3{
    margin-top: 30px;
}

.linksnav{
    
}



.navbar{
    display: flex;
    justify-content: right;
    margin-top: 35px;   

}


#linkheberg{

}

#linkactivi{
    margin-left: 30px;
    margin-right: 7px;
}

#searchform{
    display: flex;
}


.filtres{
    display: flex;
    gap: 0.5vmin;
}

#roundbox{
    width: 10vmin;
    height: 10vmin;
    border-radius: 50vmin;
    background-color: #DEEBFF ;
    color:#0065fc ;
    display:flex;
    justify-content: center;
    align-items: center;
}

#economique{
    display: flex;
}

#familial{
    display: flex;
}

#romantique{
    display: flex;
}

#animauxautorisés{
    display: flex;
}

.info{
    display: flex;
}

.fa-solid fa-location-dot{
    background-color:#F2F2F2 ;
    border-radius:15px 0 15px 0;
    text-align: center;
    width: 18px;
    height:13px;
}


#rechercher{
    width: 144.85px;
    height:15.21px ;

}


.searchbutton{
    display: flex;
    align-items: center;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}



.linksnav{
    display: flex;
}

.filtres{
    display: flex;
}

#economique{
    display: flex;
}


.recherche i {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    justify-content: center;
}



.hebergementcontainer{
    display: flex;
  

    
}


.hebergementsamarseille h2{
    position: relative;
    top: 20px;
    left: 30px;

}

.hebergementsamarseille{
    background-color: darkmagenta;
    width: 65vw;
    margin-right: 2vw;
    height: 70vh;
    border-radius: 2vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmax;
  
    
}

.lineune{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 40px;
}

.linedeux{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    background-color:white;
    width: 15vw;
    height: 13vh;
    border-radius: 2vmax;
}

.card img{
    width:261px ;
    height:139px;
    border-radius:15px 15px 0px 0px ;
    margin-top: 6px;
    margin-left: 6px;
    margin-right:6px;
}


.hotel6card h2{
    position: relative;
    left: 18px;
    top: 30px;
}


.lespluspopulaires{
    background-color: dimgray;
    width: 30vw;
    height: 70vh;
    border-radius: 2vmax;

}

.titleandstar{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#Lespluspopulaires{
    margin-left: -30px;
}

.etoile{
    align-self: center
    margin: right -20px;
}



.linetrois{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}

.card2{
    width: 250px;
    background-color: white;
    border-radius:15px 15px 15px 15px;
    margin-bottom:20px;
    display: flex;
    width: 370px;
    height: 150px;
}

.card2 img{
    width:100px ;
    height:95px;
    border-radius:15px 15px 0px 0px ;
}


.etalement{
    display: flex;
    gap: 1Vmax;
    margin-top: 2vh;
}

.activites{
    display: flex;
    width: 99Vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: space-between;
}

.activitesamarseille h2{
    margin-top: 50px;
    margin-left: 30px;
}

.hotel10{
    height: 70vh;
    width: 25vw;
    border-radius: 1vmax;
    background-color: blue;
   
}




.hotel11{
    height: 235.53px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin: 20px;
    margin-left: 10px;
 }


.hotel12{
    height: 165.10px;
    width:245px ;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.hotel13{
    height: 70vh;
    width: 25vw;
    border-radius: 1vmax;
    background-color: blue;

}

.hotel14{
    height: 195.12px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}


.hotel15{
    height: 208.98px;
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    background-color: blue;
    margin-top: 44px;
    margin-left: 10px;
}



footer{
   
    background-color:#F2F2F2;
    display: flex;
    justify-content: space-around;
    align-content: left;
}

footer a{

    color: black;
}