@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,300;1,700&display=swap");

* {
    color: #100f0f;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Raleway', 'calibri', 'Arial', sans-serif;
    box-sizing: border-box;
}

body :not(footer){
    padding-left: 10px;
    padding-right: 10px;
}

#logo {
    width: 90px;
    height: 40px;
    padding-top: 50px;
    
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linksnav {
    display: flex;
    padding-top: 30px;
    gap: 60px;
}


.menu-item:hover {
    border-top: 3px solid #0065fc;
    padding-top: 43px;
}

.recherche h3, P {
    margin-left:-8px;
}


#searchform {
    display: flex;
    margin-bottom: 15px;
}


#searchdot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 45px;
    width: 30px;
    margin-left: -24px;
}

#rechercher {
    height: 45px;
    width: 170px;
    color: black;
    font-weight: bold;
    border-color: #F2F2F2;
    border-width: 2px;
    border-style: solid;
    margin-left: -20px;
}

.searchbutton {
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}

#laloupe {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: -20px;
}

.filtres h4 {
    font-weight: bold;
}

#longbox1:hover {
    color: #ffffff;
    background-color: #0065fc;
}

#longbox2:hover {
    color: #ffffff;
    background-color: #0065fc;
}

#longbox3:hover {
    color: #ffffff;
    background-color: #0065fc;
}


#longbox4:hover {
    color: #ffffff;
    background-color: #0065fc;
}


#iconcircle {
    width: 27px;
    height: 44px;
    color: #0065fc;
    margin-left: -15px;
    background-color: #DEEBFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#longbox1 {
    display: flex;
    width: 160px;
    height: 38px;
    border-radius: 35px;
    border-color: #100f0f;
    color: black;
    font-weight: bold;
    border: 2px solid #e6e2e2;
    cursor: pointer;
    align-self: center;
    margin-right: 15px;
    align-items: center;
    gap: 10px;
}

#longbox2 {
    display: flex;
    width: 130px;
    height: 38px;
    border-radius: 35px;
    border-color: #100f0f;
    color: black;
    font-weight: bold;
    border: 2px solid #e6e2e2;
    cursor: pointer;
    align-self: center;
    margin-right: 15px;
    align-items: center;
    gap: 10px;
}

#longbox3 {
    display: flex;
    width: 160px;
    height: 38px;
    border-radius: 35px;
    border-color: #100f0f;
    color: black;
    font-weight: bold;
    border: 2px solid #e6e2e2;
    cursor: pointer;
    align-self: center;
    margin-right: 15px;
    align-items: center;
    gap: 10px;

}

#longbox4 {
    display: flex;
    width: 200px;
    height: 38px;
    border-radius: 35px;
    border-color: #100f0f;
    color: black;
    font-weight: bold;
    border: 2px solid #e6e2e2;
    cursor: pointer;
    align-self: center;
    margin-right: 15px;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px
}


#leI {
    width: 3px;
    height:20px;
    color: #0065fc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 2px solid #e6e2e2;
    margin-right: 5px;
    margin-left: -10px;
}

.hebergementcontainer {
    display: flex;
    gap: 28px;
}

.hebergementsamarseille {
    background-color: #F2F2F2;
    border-radius: 15px;

}

h3.hebergementstitle {
    padding-left: 25px;
    padding-top: 12px;
}

.groupofhotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

div.starsreviews0 {
    padding-left: 0px;
    margin-top: 15px;
}




#hebergementsamarseille p{
margin-left: 1px;
}

.afficherplus {
    font-weight: bold;
    font-size: 15px;
}

p.afficherplus{
padding-left: 30px;
}



.card {
    background-color: white;
    width: 17vw;
    height: 179px;
    padding-left: 5px;
    padding-right: 1px;
    border-radius: 15px;
    box-shadow: 0 0 20px grey;
    font-size: 11px;
    line-height: 2px;

}

.card:hover {
    transform: scale(1.10);
    transition: all 1s ease;
    background-color: #DEEBFF;
}

.card img {
    width: 16.7vw;
    height: 109px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: -20px;
}

.contain {
    object-fit: cover;
    object-position: center;
}

.contain2 {
    object-fit: cover;
    object-position: center;
}

.starsreviews0 {
    letter-spacing: -300px;  
}


.lespluspopulaires {
    background-color: #F2F2F2;
    border-radius: 15px;
}

.titleandstar {
    display: flex;
    justify-content: space-between;
   
}

#Lespluspopulaires {
    margin-top: 30px;
}

h3#Lespluspopulaires{
    margin-left: -11px;
}

.etoile {
    align-self: flex-start;
    margin-left: 70px;
    margin-top: 30px;
}



.linetrois {
    display: flex;
    flex-direction: column;
    margin-top: -27px;
}

.card2 {
    width: 310px;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 20px grey;
    margin-top: 30px;
    font-size: 11px;
    line-height: 2px;

}

.card2:hover {
    transform: scale(1.10);
    transition: all 1s ease;
    background-color: #DEEBFF;
}

.card2 img {
    width: 110px;
    height: 110px;
    border-radius: 15px 0 0 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: -14px;

}

.textcard2 {
    margin-top: 5px;
    margin-left: -5px;
}

.textcard2 h3, p{
margin-left: -10px;
}

.starsreviews {
    margin-top: 50px;
    margin-left: -20px;
    letter-spacing: -20px;
}

.starsreviews2 {
    margin-top: 65px;
    margin-left: -20px;
    letter-spacing: -20px;
}


.activites{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: -2vw;
    margin-right: -2vw;
       
}


.activitéstitres{
    margin-top: 50px;
  
}

.activitesamarseille h4{
    margin-top: 15px;
}

h4#activitesamarseille{
padding-left: -8px;
}

.deuxcases{
    margin-top: -17px;
}


.grandcard{
    height: 350px;
    width: 20vw;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -10px;
}

.grandcard2{
    height: 350px;
    width: 20vw;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -10px;
}

.smallcard1{
    height: 150px;
    width: 20vw;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -10px;
}
.smallcard2{
    height: 95px;
    width: 20vw;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -10px;
}
.smallcard3{
    height: 110px;
    width: 20vw;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -10px;
}
.smallcard4{
    height: 128px;
    width: 20vw;
    border-radius: 15px 15px 0 0;
    background-image: url("../images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -10px;
}


.hotel10{
    height: 400px;
    width: 20vw;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 0 20px grey;
    font-size: 13px;
    font-weight: bolder;
}

.hotel10:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.hotel11{
    height: 200px;
    width: 20vw;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 0 20px grey;
    font-size: 13px;
    font-weight: bolder;
 }

 .hotel11:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.hotel12{
    height: 145px;
    width: 20vw;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 0 20px grey;
    margin-top: 35px;
    font-size: 13px;
    font-weight: bolder;
   
}
.hotel12:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}


.hotel13{
    height: 400px;
    width: 20vw;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 0 20px grey;
    font-size: 13px;
    font-weight: bolder;
}

.hotel13:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.hotel14{
    height: 160px;
    width: 20vw;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 0 20px grey;
    font-size: 13px;
    font-weight: bolder;
}

.hotel14:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}

.hotel15{
    height: 180px;
    width: 20vw;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 0 20px grey;
    margin-top: 40px;
    font-size: 13px;
    font-weight: bolder;
}

.hotel15:hover{
    transform: scale(1.10);
    transition: all 1s ease;
}


footer{
   
    background-color:#F2F2F2;
    display: flex;
    justify-content:flex-start;
    gap: 10vw;
    margin-top: 60px;
    padding-top: 20px;
    line-height: 30px;
    font-size: 13px; 
}























@media (min-width:993px){
    #laloupe{
        display:none;
    }
}
   

    @media (max-width:992px) {
    
body{
margin-right: -10px;
    margin: 0;
   
}

        .searchbutton{
            display: none;
        }

        #laloupe {
            margin-left: -11px;
        }

        form#searchform{
            margin-bottom: -10px;
        }
    
    
        .filtres {
            display: unset;
        }

        .filtres h4{
            margin-left: -5px;
        }
    
        .fi {
            margin-bottom: 20px;
            margin-left: 10px;
        }
    
        .info {
            flex-wrap: wrap;
        }

        h3.hebergementstitle{
            margin-bottom: 40px;
        }

        .hebergementcontainer {
            flex-direction: column-reverse;
        }

        .hebergementsamarseille {
      
            background: none;
            width: 100vw;
            padding: 0px;
            margin: -30px;
            
        }

        .groupofhotels{
            gap: 7vw;
            padding-left: 2vw;
        }

        p.afficherplus{
            padding-left: 7vw;
        }
    
        .lespluspopulaires{
            border-radius: 0px;
                width:100vw;
                height: 650px;
                margin-left: -7vw;
            }

            h3#Lespluspopulaires{
                margin-left: 26px;
                margin-bottom: 35px;
            }
        
    
        .card{
            width: 40vw;
            height: 200px;
            font-size: 2vmax;
            margin-bottom: 0.6vh;
        font-size: smaller;
        }

        img.contain{
            width: 39.5vw;
            height: 120px;

        }
    
 .card2{
    width: 85vw;
    height: 150px;
    margin-left: 10px;
    font-size: 16px;
    margin-left: 7vw;
 }

 img.contain2{
    width:40vw;
    height: 140px;
 }

 div.starsreviews2{
    margin-top: 75px;
 }

 div.starsreviews{
    margin-top: 55px;
 }

 .activitéstitres{
    margin-top: 5vh;
    margin-left: -1px;
    margin-bottom: 7vh;
 }


 section.activitesamarseille.activitesamarseille{
    margin-left: -13px;
 }

  
        .activites {
            flex-direction: column;
            justify-content: center;
            gap: 3vh;
            width: 90vw; 
        }
    
            .hotel10 {
    
                width: 86vw;
                height: 29vh;
                margin-bottom: 6vh;
                margin-left: 4vw;
            }
            
            
            .hotel11 {
                width: 86vw;
                height: 29vh;
                margin-bottom: 0.5vh;
                margin-left: 4vw;
            }
            
            .hotel12 {
                width: 86vw;
                height: 29vh;
                margin-bottom: 4vh;
                margin-left: 4vw;
            }
            
            .hotel13 {
                width: 86vw;
                height: 29vh;
                margin-bottom: 7vh;
                margin-left: 4vw;
            }
            
            .hotel14 {
                width: 86vw;
                height: 29vh;
                margin-bottom: 1vh;
                margin-left: 4vw;
            }
            
            .hotel15 {
                width: 86vw;
                height: 29vh;
                margin-bottom: 0.5vh;
                margin-left: 4vw;
            }
            
            .grandcard{
                width: 86vw;
                height: 20vh;
            }
            
            .grandcard2{
                width: 86vw;
                height: 20vh;
            }
            
            .smallcard1{
                width: 86vw;
                height: 20vh;
            }
            .smallcard2{
                width: 86vw;
                height: 20vh;
            }
            
            .smallcard3{
                width: 86vw;
                height: 20vh;
            }
            .smallcard4{
                width: 86vw;
                height: 20vh;
            }


            .card:hover {
                transform: none;
                transition: none;
                background-color: #DEEBFF;
            }
            
            .card2:hover {
                transform: none;
                transition: none;
                background-color: #DEEBFF;
            }
            
            .hotel10:hover{
                transform: none;
                transition: none;
            }
            
            
            .hotel11:hover{
                transform: none;
                transition: none;
            }
            
            .hotel12:hover{
                transform: none;
                transition: none;
            }
            
            
            .hotel13:hover{
                transform: none;
                transition: none;
            }
            
            .hotel14:hover{
                transform: none;
                transition: none;
            }
            
            .hotel15:hover{
                transform: none;
                transition: none;
            }
            
        
        
        footer {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 0;
            
        }
    
            
        }
    
        


       
    
       











     @media  all and (max-width:768px){

        body {
        width: 100vw;
           padding: 0;
           margin: 0;
        }

    #logo{
        width: 30vw;
        height: 8vh;
        margin-left: 28vw;
        }

        .linksnav{
            gap: 0vw;
        }

        .menu-item{
            padding-bottom: none;
        }

        .hebergementcontainer {
            margin-bottom: 40vh;

        }   

        .groupofhotels{
            margin-left: 7vw;
        }

        

        .lespluspopulaires{
            width:100vw;
            height: 80vh;
            margin-left: -7vw;
        }

        .linetrois{
           
        }
        
        .card{
            width: 83vw;
            height: 27vh;
            margin-bottom: 6vh;
            padding: 0.5vmax;
            font-size: 2vmax;
            margin-bottom: 0.6vh;
            margin-left: 2vw;
        }

        img.contain{
            width: 78vw;
            height: 17vh;

        }
    
 .card2{
    width: 80vw;
    height: 20vh;
    margin-left: 10px;
    font-size: 16px;
    margin-left: 3vw;
 }

 img.contain2{
    width:40vw;
    height: 19vh;
 }

 .activitéstitres{
    margin-top: 50vh;
 }

.activites {
    flex-direction: column;
    gap: 10px;
    
    
}

.hotel10 {
    
    width: 80vw;
    height: 27vh;
    margin-bottom: 6vh;
}


.hotel11 {
    width: 80vw;
    height: 27vh;
    margin-bottom: 0.5vh;

}

.hotel12 {
    width: 80vw;
    height: 27vh;
    margin-bottom: 4vh;

}

.hotel13 {
    width: 80vw;
    height: 27vh;
    margin-bottom: 7vh;

}

.hotel14 {
    width: 80vw;
    height: 27vh;
    margin-bottom: 1vh;

}

.hotel15 {
    width: 80vw;
    height: 27vh;
    margin-bottom: 0.5vh;

}

.grandcard{
    width: 80vw;
    height: 20vh;
}

.grandcard2{
    width: 80vw;
    height: 20vh;
}

.smallcard1{
    width: 80vw;
    height: 20vh;
}
.smallcard2{
    width: 80vw;
    height: 20vh;
}

.smallcard3{
    width: 80vw;
    height: 20vh;
}
.smallcard4{
    width: 80vw;
    height: 20vh;
}

.card:hover {
    transform: none;
    transition: none;
    background-color: #DEEBFF;
}

.card2:hover {
    transform: none;
    transition: none;
    background-color: #DEEBFF;
}

.hotel10:hover{
    transform: none;
    transition: none;
}


.hotel11:hover{
    transform: none;
    transition: none;
}

.hotel12:hover{
    transform: none;
    transition: none;
}


.hotel13:hover{
    transform: none;
    transition: none;
}

.hotel14:hover{
    transform: none;
    transition: none;
}

.hotel15:hover{
    transform: none;
    transition: none;
}

footer{
    width: 95vw;
}

     }
